@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  
  --background: oklch(93.46% 0.0305 255.11);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(58.5% 0.233 277.117);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px -4px 0px 0px var(--border);
  --chart-1: #5294FF;
  --chart-2: #FF4D50;
  --chart-3: #FACC00;
  --chart-4: #05E17A;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;

  --card: var(--color-indigo-200);
  --card-foreground: oklch(0.145 0 0);
  --button: var(--color-indigo-700);
  --button-foreground: var(--color-indigo-50);

}


@theme inline {
    --color-my-white: oklch(1 0 0);
  --color-my-black: oklch(0.145 0 0);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-button: var(--button);
  --color-button-foreground: var(--button-foreground);
  

  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: -4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: --4px;
  --radius-base: 0px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 700;
  --font-weight-heading: 900;

  --animate-marquee: marquee 5s linear infinite;
--animate-marquee2: marquee2 5s linear infinite;
 
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
 
@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

}
  
@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}