---
import { Progress } from "@/components/ui/progress";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Progress value={20} className="w-[60%]" />
    <div>Coming Soon...</div>
  </main>
</Layout>
