---
import "@fontsource-variable/montserrat";
import { A, H2 } from "@/components/typography";
import Layout from "../layouts/Layout.astro";
import GithubIcon from "@/components/GithubIcon.astro";
import "@/styles/globals.css";
import { LinkButton } from "@/components/link-button";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { MoveDown, Plus, Link, MoveRight } from "lucide-react";
import { BlogSectionCarousel } from "@/components/BlogSection.tsx";
import { gsap } from "gsap";

const blogs = [
  {
    title: "Importance of Maximum Likelihood Estimation for Machine Learning",
    description: `Learn about the Maximum Likelihood Estimator and the Gradient Descent Algorithm.`,
    cta: "https://blog.farooqkhan.ca/mle",
  },

  {
    title: "Scaling LLMs with Triton Inference Server: A Hands-on Guide",
    description: `Get hands-on experience with deploying Large Language Models
              (LLMs) at scale using NVIDIA's Triton Inference Server.`,
    cta: "https://blog.farooqkhan.ca/fast-llm-inferencing",
  },
  {
    title: "Term Frequency-Inverse Document Frequency",
    description: `In this tutorial we will look at what TF and IDF are and how they
              can be use to process text data for Machine learning.`,
    cta: "https://blog.farooqkhan.ca/tfidf",
  },
  {
    title: "Large Scale Vector Comparison",
    description: `In this post, we will look at the quora qna dataset and aim to
              encode and compare all question pairs. The purpose of is to look
              at a real dataset.`,
    cta: "https://blog.farooqkhan.ca/cosine-similarity-pt-2",
  },
  {
    title: "Comparing Vectors with Cosine Simlarity Function",
    description: `This tutorial will focus on the math behind text vector similarity
              using numpy, pytorch, and stentence-transformers libraries in
              python.`,
    cta: "https://blog.farooqkhan.ca/cosine-similarity",
  },
];
---

<Layout>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
  ></script>

  <main
    class="font-neo-brutal overflow-hidden bg-background text-foreground pb-64"
  >
    <section class="min-h-screen w-full pb-64 flex flex-col items-center justify-center">
      <div>
        <a 
        target="_blank"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-base text-sm font-base ring-offset-white transition-all gap-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-mtext bg-main border-2 border-border shadow-shadow hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none h-10 px-4 py-2" 
        href="https://github.com/farooq-azam-khan/"><GithubIcon/> @farooq-azam-khan</a></div> 
        <h1
          id="mle"
          class="my-3 text-xl text-center bg-indigo-500 -skew-x-12 text-background px-5 py-1 leading-[1.5rem] tracking-wide
           sm:leading-[4rem]  sm:text-2xl sm:tracking-wider
          md:text-4xl md:tracking-widest
          lg:leading-[5rem]"
        > Machine Learning Engineer
        </h1>
        
    </section>
    <script>
      window.addEventListener("load", () => {
        gsap.registerPlugin(ScrollTrigger);
        const herotimeline = gsap.timeline({});
      });
    </script>

    <section class="min-h-screen flex items-center justify-center">
      <div id="section-1" class="space-y-10 lg:max-w-4xl text-center">
        <div class="font-serif text-6xl md:text-8xl">
          <div>MLE specializing in</div>
          <div>
            <span class="text-indigo-700">delivering scalable</span> AI solutions<span
              class="text-indigo-900">.</span
            >
          </div>
        </div>
        <p class="font-mono lg:mt-4 md:text-3xl lg:text-4xl md:block">
          with <span class="text-indigo-500">VLLMs</span>,
          <span class="text-indigo-500">Ollama</span>, and <span
            class="text-green-600">NVIDIA TensorRT</span
          >
          {" "} for optimized model serving pipelines.
        </p>
      </div>
    </section>
    <script>
      window.addEventListener("load", () => {
        gsap.registerPlugin(ScrollTrigger);
        const timeline0 = gsap.timeline({
          scrollTrigger: {
            trigger: "#section-1",
            start: "top bottom",
            end: "bottom center",
            scrub: 1,
            //markers: true,
          },
        });

        timeline0.fromTo(
          "#section-1",
          {
            opacity: 0,
          },
          {
            opacity: 1,
            duration: 1,
          },
        );
      });
    </script>
    <section
      class="min-h-screen flex items-center justify-start"
      id="fe-section"
    >
      <div>
        <div
          class="font-mono text-3xl w-full h-full grid gap-y-5 grid-rows-4 grid-cols-5"
        >
          <p
            data-fs-row-1
            class="flex items-center justify-center row-start-1 col-span-5 text-3xl sm:text-6xl"
          >
            interested in
          </p>
          <div
            data-fs-row-2
            class="row-start-2 text-5xl sm:text-9xl col-span-1 flex items-center justify-center"
          >
            (
          </div>
          <div
            data-fs-row-2
            class="row-start-2 flex items-center justify-center text-center text-2xl sm:text-4xl col-span-1 text-indigo-500"
          >
            graph algorithms
          </div>
          <div
            data-fs-row-2
            class="row-start-2 col-span-1 flex items-center justify-center"
          >
            <Plus className="w-10 h-10 sm:w-16 sm:h-16" />
          </div>
          <div
            data-fs-row-2
            class="text-2xl sm:text-4xl row-start-2 col-span-1 text-indigo-500 flex items-center justify-center text-center"
          >
            reinforcement learning algorithms
          </div>
          <div
            data-fs-row-2
            class="row-start-2 text-6xl sm:text-9xl col-span-1 flex items-center justify-center"
          >
            )
          </div>
          <div
            data-fs-row-3
            class="flex items-center justify-center row-start-3 col-start-3 col-span-1"
          >
            <MoveDown className="w-16 h-16" />
          </div>
          <div
            data-fs-row-4
            class="row-start-4 text-4xl sm:text-7xl col-span-5 flex items-center justify-center"
          >
            Enhanced LLM Agents
          </div>
        </div>
      </div>
    </section>
    <script>
      window.addEventListener("load", () => {
        const t1 = gsap.timeline({
          scrollTrigger: {
            trigger: "#fe-section",
            pin: true,
            start: "top top",
            end: "bottom center",
            scrub: 1,
            //markers: true,
          },
        });
        // t1.fromTo(
        //   "[data-fs-row-1]",
        //   {
        //     opacity: "0",
        //   },
        //   {
        //     opacity: "100%",
        //   },
        // );
        t1.fromTo(
          "[data-fs-row-2]",
          {
            opacity: "0",
          },
          {
            opacity: "100%",
          },
        );
        t1.fromTo(
          "[data-fs-row-3]",
          {
            opacity: "0",
          },
          {
            opacity: "100%",
          },
        );
        t1.fromTo(
          "[data-fs-row-4]",
          { opacity: "0" },
          {
            opacity: "100%",
            duration: 1,
          },
        );
      });
    </script>

    <section class="min-h-screen flex items-center justify-center">
      <div id="bridge-section" class="lg:max-w-4xl text-center">
        <p class="text-4xl sm:text-6xl lg:text-7xl">
          Bridging best parts of theory and practice to create impactful,
          intelligent systems<span class="text-indigo-800">.</span>
        </p>
      </div>
    </section>
    <script>
      window.addEventListener("load", () => {
        gsap.registerPlugin(ScrollTrigger);
        const bridgetimeline = gsap.timeline({
          scrollTrigger: {
            trigger: "#bridge-section",
            start: "bottom center",
            end: "bottom top",
            scrub: 1,
            // markers: true,
          },
        });

        bridgetimeline.fromTo(
          "#bridge-section",
          {
            opacity: 0,
          },
          {
            opacity: 1,
          },
        );
      });
    </script>

    <section class="">
      <H2> Blog Highlights </H2>
      <div class="mt-5 space-y-14">
        <BlogSectionCarousel blogs={blogs} client:load />
      </div>
    </section>
    <section class="mt-64 font-heading px-5 md:px-0 md:mx-auto md:max-w-6xl">
      <H2> Personal AI Projects </H2>
      <ol
        class="px-5 xl:px-0 mt-5 grid sm:gap-x-2 gap-y-4 lg:gap-x-10 grid-cols-2"
      >
        <Card className="col-span-2">
          <CardHeader>
            <CardTitle>Race Car RL Agent</CardTitle>
            <CardDescription
              >Using Deep Q Learning to create a self driving car.</CardDescription
            >
          </CardHeader>
          <CardContent>
            <LinkButton
              target="blank_"
              href="https://github.com/Farooq-azam-khan/unpublished-papers/blob/main/deep-q-learning.pdf"
            >
              Read the Paper
            </LinkButton>
          </CardContent>
        </Card>
        <Card className="col-span-2 sm:col-span-1">
          <CardHeader>
            <CardTitle className="line-clamp-2"
              >Garbage Classification with CNN
            </CardTitle>
            <CardDescription className="line-clamp-3">
              Efficient Net finetuned on Classifying different types of Garbage.
            </CardDescription>
          </CardHeader>
          <CardContent />
          <CardFooter className="flex justify-between items-center">
            <LinkButton
              target="blank_"
              href="https://github.com/Farooq-azam-khan/unpublished-papers/blob/main/deep-q-learning.pdf"
            >
              Read the Paper
            </LinkButton>
            <LinkButton
              size="icon"
              href="https://github.com/Farooq-azam-khan/cps803-course-project"
              target="blank_"
            >
              <GithubIcon /></LinkButton
            >
          </CardFooter>
        </Card>
        <Card className="col-span-2 sm:col-span-1">
          <CardHeader>
            <CardTitle className="line-clamp-2"> Haiku Generator</CardTitle>
            <CardDescription className="line-clamp-3"
              >Prompt engineering experimentation to generate Haikus with LLMs.</CardDescription
            >
          </CardHeader>
          <CardContent />
          <CardFooter className="flex justify-between items-center">
            <Button disabled>View App</Button>
            <div>
              <LinkButton
                size="icon"
                href="https://github.com/Farooq-azam-khan/haiku/"
                target="blank_"
                class="rounded-lg"><GithubIcon /></LinkButton
              >
            </div>
          </CardFooter>
        </Card>
        <!-- </div> -->
      </ol>
      <!-- </section> -->

      <section class="mt-32">
        <H2> Additional Projects </H2>
        <ol class="mt-5 px-5 grid gap-y-4 sm:gap-x-3 md:gap-x-10 grid-cols-3">
          <Card className="col-span-3 sm:col-span-2">
            <CardHeader>
              <CardTitle className="line-clamp-2"
                >D3-js Reference Tutorial
              </CardTitle>
              <CardDescription className="line-clamp-3">
                Web app to reference D3 library and its many features.</CardDescription
              >
            </CardHeader>
            <CardContent />
            <CardFooter className="space-x-3">
              <LinkButton
                size="icon"
                href="https://github.com/Farooq-azam-khan/d3js-tutorials"
                target="blank_"><GithubIcon /></LinkButton
              ><LinkButton
                size="icon"
                target="blank_"
                href="https://farooq-azam-khan.github.io/d3js-tutorials/"
              >
                <Link /></LinkButton
              ></CardFooter
            >
          </Card>
          <Card className="col-span-3 sm:col-span-1">
            <CardHeader>
              <CardTitle>Chat App</CardTitle>
              <CardDescription>
                A Chat application built to explore web socket connections and
                server client relations with the protocol. App built with elm,
                expressjs, and websockets.
              </CardDescription>
            </CardHeader>
            <CardContent />
            <CardFooter
              ><LinkButton
                size="icon"
                href="https://github.com/Farooq-azam-khan/chat-app-elm"
                target="blank_"
                class="rounded-lg"><GithubIcon /></LinkButton
              ></CardFooter
            >
          </Card>
          <Card className="col-span-3 sm:col-span-1">
            <CardHeader>
              <CardTitle> Twitch Python Discord Bot </CardTitle>
              <CardDescription>Discord bot built with Python.</CardDescription>
            </CardHeader>
            <CardContent />
            <CardFooter
              ><LinkButton
                size="icon"
                href="https://github.com/Farooq-azam-khan/twitch-api-discord-bot"
                target="blank_"
                class="rounded-lg"><GithubIcon /></LinkButton
              ></CardFooter
            >
          </Card>
          <Card className="col-span-3 sm:col-span-2">
            <CardHeader>
              <CardTitle> Rust Tauri App </CardTitle>
              <CardDescription>
                Experimental app designed to test the features offered by Tauri
                library.</CardDescription
              >
            </CardHeader>
            <CardContent />
            <CardFooter
              ><LinkButton
                size="icon"
                href="https://github.com/Farooq-azam-khan/color-picker-tauri-test-project"
                target="blank_"
                class="rounded-lg"><GithubIcon /></LinkButton
              ></CardFooter
            >
          </Card>
        </ol>
      </section>
    </section>
    <section class="mt-32">
      <H2> 2025 VISON </H2>
      <ul class="mt-5 space-y-14 px-5 lg:max-w-6xl lg:mx-auto">
        <Card className="">
          <CardHeader><CardTitle>Books</CardTitle></CardHeader><CardContent>
            <ul class="">
              <li>
                <a href="https://www.deeplearningbook.org/"
                  >Deep Learning (Ian Goodfellow, Yoshua Bengio, and Aaron
                  Courville)</a
                >
              </li>
              <li>
                <a href="http://incompleteideas.net/book/the-book-2nd.html"
                  >Reinforcement Learning: An Introduction (Andrew Barto and
                  Richard S. Sutton)</a
                >
              </li>
              <li>
                <a
                  href="https://bartoszmilewski.com/2014/10/28/category-theory-for-programmers-the-preface/"
                  >Category Theory for Programmers (Bartosz Milewski)</a
                >
              </li>
            </ul></CardContent
          ><CardFooter
            ><LinkButton
              className="font-base dark:text-white dark:bg-indigo-500 dark:hover:bg-indigo-600"
              href="https://www.goodreads.com/user/show/133899873-farooq"
              target="blank_">Goodreads for other stuff<MoveRight /></LinkButton
            >
          </CardFooter></Card
        >
        <Card className="">
          <CardHeader>
            <CardTitle> Software Engineering </CardTitle>
          </CardHeader>
          <CardContent>
            <div class="font-mono">
              {"{"} TypeScript, Rust, Python {"}"}
              {"x"}
              {"{"} Graph Database, Postgres DB {"}"}
              {"x"}
              {"{"} MLOps, DevOps {"}"}
              {"=>"} Solve Problems
            </div>
          </CardContent>
        </Card>
      </ul>
    </section>
    <section class="mt-32">
      <H2>Inspirational Projects</H2>
        <Card>
          <CardHeader></CardHeader>
            <CardContent>
              <ul>
                <li><A target="blank_" href="https://www.tldraw.com/">tldraw</a></li>
                <li><A target="blank_" href="https://notebooklm.google/">notebooklm</a></li>
                <li><A target="blank_" href="https://openai.com/sora/">sora</a></li>
                </ul>
            </CardContent>
        </Card>
          </section>
  </main>
</Layout>
