---
import Layout from "../layouts/Layout.astro";
import GithubIcon from "../components/GithubIcon.astro";
import RightArrow from "../components/RightArrow.astro";
import "@/styles/globals.css";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Link, MoveRight } from "lucide-react";
import { BlogSectionCarousel } from "@/components/BlogSection.tsx";
---

<Layout>
  <main class="dark bg-background text-foreground pb-64">
    <section class="min-h-screen flex items-center justify-start w-full">
      <div>
        <div class="flex gap-x-7 items-baseline">
          <div class="font-mono text-rose-400 text-3xl">def</div>
          <h2
            class="md:tracking-widest text-indigo-400 text-2xl sm:text-7xl font-light font-mono"
          >
            <span>farooq</span><span>_</span><span>khan</span>
          </h2>
          <span class="text-5xl font-extralight font-mono">(</span>
        </div>
        <h1
          class="pl-2 tracking-wide grid grid-cols-1 lg:pl-5 lg:grid-cols-2 gap-y-4 text-white text-5xl sm:text-9xl font-bold"
        >
          <div>Machine</div>
          <div>Learning</div>
          <div class="lg:col-span-2">Engineer</div>
        </h1>
        <div class="flex items-center gap-x-3">
          <div class="font-mono text-5xl font-extralight">)</div>
          <div
            class="flex items-baseline justify-start font-mono font-extralight gap-x-5 text-3xl sm:text-7xl"
          >
            <MoveRight className="w-16 h-10" />
            <div class="font-mono">AwesomeStuff:</div>
          </div>
        </div>
      </div>
    </section>
    <section class="min-h-screen flex items-center justify-center">
      <div class="space-y-10 lg:max-w-4xl text-center">
        <div class="font-serif text-6xl lg:text-8xl">
          <div>MLE specializing in</div>
          <div>
            <span class="text-indigo-700">delivering scalable</span> AI solutions<span
              class="text-indigo-900">.</span
            >
          </div>
        </div>
        <p class="font-mono lg:text-2xl lg:mt-4 flex flex-col md:block">
          with <span class="text-indigo-500 border px-1 py-5">VLLMs</span>
          <span class="text-indigo-500 border px-1 py-5">Ollama</span> and <span
            class="text-green-600 boreder px-4 py-2 border border-green-600"
            >NVIDIA TensorRT</span
          >
          {" "} for optimized model serving pipelines.
        </p>
      </div>
    </section>
    <section class="min-h-screen flex items-center justify-start">
      <div class="">
        <div class="flex items-baseline">
          <p class="font-serif text-3xl sm:text-6xl">focus on</p><div
            class="font-mono text-6xl"
          >
            (
          </div>
        </div>
        <div class="font-mono text-4xl sm:text-7xl text-indigo-500">
          graph algorithms
        </div>
        <!-- <div>
          <img class="h-80" alt="Image of a Network Graph" src="/graph.png" />
        </div> -->
        <span class="font-mono text-7xl">,</span>

        <div class="font-mono text-7xl text-indigo-500">
          reinforcement learning algorithms
        </div>
        <!-- <div class="">
          <img
            alt="Image of Reinforcement Learning Setup - state, action, reward, environment."
            class="w-80"
            src="/rl.png"
          />
        </div> -->
        <span class="font-mono text-6xl">)</span>
        <div class="font-mono flex items-baseline lg:gap-x-8 text-6xl">
          <MoveRight className="lg:w-16 h:10" />
          <div>enhanced LLM Agents</div>
        </div>
      </div>
    </section>
    <section class="min-h-screen flex items-center justify-center">
      <div class="lg:max-w-4xl text-center">
        <p class="font-serif text-6xl">
          Bridging best parts of theory and practice to create impactful,
          intelligent systems<span class="text-indigo-900">.</span>
        </p>
      </div>
    </section>

    <section class="">
      <!-- <div class=""> -->
      <!-- <div class="pt-20 flex items-center justify-between"> -->
      <!-- <div class="flex items-center space-x-2">
            <a target="_blank" href="https://github.com/Farooq-azam-khan">
              <GithubIcon />
            </a>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/farooq-khan-46167bb5/"
            >
              <img
                alt="linkedin logo"
                class="w-8 h-8"
                src="/linkedin-logo-512.webp"
              />
            </a>
          </div> -->
      <!-- </div> -->
      <h2
        class="px-5 md:px-0 text-center text-foreground text-4xl font-semibold tracking-wide lg:mx-auto lg:max-w-3xl"
      >
        Blog Highlights
      </h2>

      <!-- <div class="mt-32 md:mt-64 rounded-md"> -->
      <div class="mt-5 space-y-14">
        <BlogSectionCarousel client:load />
        <!-- <Card>
          <CardHeader>
            <CardTitle
              >Scaling LLMs with Triton Inference Server: A Hands-on Guide</CardTitle
            >
            <CardDescription
              >Get hands-on experience with deploying Large Language Models
              (LLMs) at scale using NVIDIA's Triton Inference Server.
            </CardDescription>
          </CardHeader>
          <CardContent />
          <CardFooter
            ><a
              href="https://blog.farooqkhan.ca/fast-llm-inferencing"
              target="blank_"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indgio-800"
              >Read more<RightArrow /></a
            ></CardFooter
          >
        </Card>
        <Card>
          <CardHeader>
            <CardTitle> Term Frequency-Inverse Document Frequency </CardTitle>
            <CardDescription
              >In this tutorial we will look at what TF and IDF are and how they
              can be use to process text data for Machine learning.
            </CardDescription>
          </CardHeader>
          <CardContent />
          <CardFooter
            ><a
              href="https://blog.farooqkhan.ca/tfidf"
              target="blank_"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indgio-800"
              >Read more<RightArrow /></a
            ></CardFooter
          >
        </Card>
        <Card>
          <CardHeader>
            <CardTitle>Large Scale Vector Comparison</CardTitle>
            <CardDescription>
              In this post, we will look at the quora qna dataset and aim to
              encode and compare all question pairs. The purpose of is to look
              at a real dataset.</CardDescription
            >
          </CardHeader>
          <CardContent />
          <CardFooter
            ><a
              href="https://blog.farooqkhan.ca/cosine-similarity-pt-2"
              target="blank_"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indgio-800"
              >Read more
              <RightArrow />
            </a></CardFooter
          >
        </Card>
        <Card>
          <CardHeader>
            <CardTitle>
              Comparing Vectors with Cosine Simlarity Function
            </CardTitle>
            <CardDescription>
              This tutorial will focus on the math behind text vector similarity
              using numpy, pytorch, and stentence-transformers libraries in
              python.</CardDescription
            >
          </CardHeader>
          <CardContent />
          <CardFooter
            ><a
              href="https://blog.farooqkhan.ca/cosine-similarity"
              target="blank_"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indgio-800"
              >Read more<RightArrow /></a
            ></CardFooter
          >
        </Card> -->
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </section>
    <!-- <section class="mt-32"> -->
    <section class="mt-64 font-mono px-5 md:px-0 md:mx-auto md:max-w-6xl">
      <h2
        class="text-center text-foreground text-4xl font-semibold tracking-wide"
      >
        Personal AI Projects
      </h2>
      <ol class="px-5 xl:px-0 mt-5 grid gap-y-14 lg:gap-x-10 lg:grid-cols-2">
        <Card className="col-span-2">
          <CardHeader>
            <CardTitle>Race Car RL Agent</CardTitle>
            <CardDescription>Comming Soon...</CardDescription>
          </CardHeader>
          <CardContent />
        </Card>
        <Card>
          <CardHeader>
            <CardTitle>Garbage Classification with CNN </CardTitle>
            <CardDescription>
              Efficient Net finetuned on Classifying different types of Garbage.
            </CardDescription>
          </CardHeader>
          <CardContent />
          <CardFooter>
            <a
              href="https://github.com/Farooq-azam-khan/cps803-course-project"
              target="blank_"
              class="rounded-lg"><GithubIcon /></a
            ></CardFooter
          >
        </Card>
        <Card>
          <CardHeader>
            <CardTitle> Haiku Generator</CardTitle>
            <CardDescription
              >Prompt engineering experimentation to generate Haikus with LLMs.</CardDescription
            >
          </CardHeader>
          <CardContent />
          <CardFooter
            ><a
              href="https://github.com/Farooq-azam-khan/haiku/"
              target="blank_"
              class="rounded-lg"><GithubIcon /></a
            ></CardFooter
          >
        </Card>
        <!-- </div> -->
      </ol>
      <!-- </section> -->

      <section class="mt-32 font-mono">
        <h2
          class="text-center text-foreground text-4xl font-semibold tracking-wide"
        >
          Additional Projects
        </h2>
        <ol class="mt-5 px-5 grid gap-y-14 md:gap-x-10 md:grid-cols-3">
          <Card className="col-span-2">
            <CardHeader>
              <CardTitle> D3Js Reference Tutorial </CardTitle>
              <CardDescription>
                Web app to reference D3 library and its many features.</CardDescription
              >
            </CardHeader>
            <CardContent />
            <CardFooter className="space-x-3">
              <a
                href="https://github.com/Farooq-azam-khan/d3js-tutorials"
                target="blank_"><GithubIcon /></a
              ><a
                target="blank_"
                href="https://farooq-azam-khan.github.io/d3js-tutorials/"
              >
                <Link /></a
              ></CardFooter
            >
          </Card>

          <Card>
            <CardHeader>
              <CardTitle>Chat App</CardTitle>
              <CardDescription>
                A Chat application built to explore web socket connections and
                server client relations with the protocol. App built with elm,
                expressjs, and websockets.
              </CardDescription>
            </CardHeader>
            <CardContent />
            <CardFooter
              ><a
                href="https://github.com/Farooq-azam-khan/chat-app-elm"
                target="blank_"
                class="rounded-lg"><GithubIcon /></a
              ></CardFooter
            >
          </Card>
          <Card>
            <CardHeader>
              <CardTitle> Twitch Python Discord Bot </CardTitle>
              <CardDescription>Discord bot built with Python.</CardDescription>
            </CardHeader>
            <CardContent />
            <CardFooter
              ><a
                href="https://github.com/Farooq-azam-khan/twitch-api-discord-bot"
                target="blank_"
                class="rounded-lg"><GithubIcon /></a
              ></CardFooter
            >
          </Card>
          <Card className="col-span-2">
            <CardHeader>
              <CardTitle> Rust Tauri App </CardTitle>
              <CardDescription>
                Experimental app designed to test the features offered by Tauri
                library.</CardDescription
              >
            </CardHeader>
            <CardContent />
            <CardFooter
              ><a
                href="https://github.com/Farooq-azam-khan/color-picker-tauri-test-project"
                target="blank_"
                class="rounded-lg"><GithubIcon /></a
              ></CardFooter
            >
          </Card>
        </ol>
      </section>
    </section>
    <section class="mt-32">
      <h2
        class="font-serif text-center text-foreground text-4xl font-semibold tracking-wide"
      >
        2025 VISON
      </h2>
      <ul class="mt-5 space-y-14 px-5 lg:max-w-6xl lg:mx-auto">
        <Card className="">
          <CardHeader><CardTitle>Books</CardTitle></CardHeader><CardContent>
            <ul class="font-serif">
              <li>
                <a href="https://www.deeplearningbook.org/"
                  >Deep Learning (Ian Goodfellow, Yoshua Bengio, and Aaron
                  Courville)</a
                >
              </li>
              <li>
                <a href="http://incompleteideas.net/book/the-book-2nd.html"
                  >Reinforcement Learning: An Introduction (Andrew Barto and
                  Richard S. Sutton)</a
                >
              </li>
              <li>
                <a
                  href="https://bartoszmilewski.com/2014/10/28/category-theory-for-programmers-the-preface/"
                  >Category Theory for Programmers (Bartosz Milewski)</a
                >
              </li>
            </ul></CardContent
          ><CardFooter
            ><a
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-stone-700 rounded-lg hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-300 dark:bg-stone-600 dark:hover:bg-stone-700 dark:focus:ring-stone-800"
              href="https://www.goodreads.com/user/show/133899873-farooq"
              target="blank_">Goodreads for other stuff<MoveRight /></a
            >
          </CardFooter></Card
        >
        <Card className="font-mono">
          <CardHeader>
            <CardTitle> Software Engineering </CardTitle>
          </CardHeader>
          <CardContent>
            <div>
              {"{"} Go, Rust, Python {"}"}
              {"u"}
              {"{"} Graph Database, Postgres DB {"}"}
            </div>
            <div>{"=>"} Backend Development {"=>"} Kubernetes</div>
          </CardContent>
        </Card>
        <!-- 
        <div>
          <h3 class="text-xl font-bold tracking-tight">Mathematics</h3><p
            class="text-lg font-normal"
          >
            Fourier Analysis, Linear Albegra, Statistics, Graph Thoery.
          </p>
        </div> -->
      </ul>
    </section>
  </main>
</Layout>
